In [12]:
import pandas as pd

df = pd.read_csv("D:\DataScience Lab\Lab3\world_alcohol.csv")

print(df.head())

print(df)

nan_percentage = df.isna().mean() * 100
Nan_less_10 = nan_percentage[nan_percentage < 10].index.tolist()
df_filtered = df[columns_less_nan]
print("Columns with less than 10% NaN values: ")
print(df_filtered)

   Year       WHO region                Country Beverage Types  DisplayValue
0  1986  Western Pacific               Viet Nam           Wine          0.00
1  1986         Americas                Uruguay          Other          0.50
2  1985           Africa           Cte d'Ivoire           Wine          1.62
3  1986         Americas               Colombia           Beer          4.27
4  1987         Americas  Saint Kitts and Nevis           Beer          1.98
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  DisplayValue
0            Wine          0.00
1           Other          0.50
2            Wine          1.62
3            Beer          4.27
4            Beer          1.98
..            ...           ...
95          Other          0.00
96           Wine          7.38
97           Wine          0.00
98           Wine          0.00
99           Wine          0.00

[100 rows x 5 columns]

KeyError: "['Display Value'] not in index"

In [13]:
import pandas as pd

file_path = 'D:\DataScience Lab\Lab3\world_alcohol.csv'
df = pd.read_csv(file_path)

nan_percentage = df.isna().mean() * 100

columns_less_nan = nan_percentage[nan_percentage < 10].index.tolist()

df_filtered = df[columns_less_nan]
print(df_filtered)

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  DisplayValue
0            Wine          0.00
1           Other          0.50
2            Wine          1.62
3            Beer          4.27
4            Beer          1.98
..            ...           ...
95          Other          0.00
96           Wine          7.38
97           Wine          0.00
98           Wine          0.00
99           Wine          0.00

[100 rows x 5 columns]

In [8]:
df.iloc[1,0]

1986

In [9]:
df.iloc[3,2]

'Colombia'

In [15]:
df.DisplayValue.value_counts(Normalize=True)*100

TypeError: IndexOpsMixin.value_counts() got an unexpected keyword argument 'Normalize'